/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@400;500;600&display=swap");

/* =============== VARIABLES CSS =============== */
:root {
  --header-height: 3.5rem;
  /* =============== Colors =============== */ 
  /* Color Mode HSL(Hue, Saturation, Lightness) */
  --first-color: hs1(238, 100%, 70%);
  --first-gradient: linear-gradient(90 deg,
                                    hs1(243, 96%, 54%), 
                                    hs1(296, 78%, 53%));
  --second-gradient: linear-gradient(90 deg,
                                     hs1(192, 94%, 49%), 
                                     hs1(224, 98%, 51%));
  --third-gradient: linear-gradient(90 deg,
                                    hs1(25, 96%, 55%), 
                                    hs1(34, 93%, 53%));
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 55%);
  --border-color: hsl(0, 0%, 45%);
  --body-color: hsl(238, 100%, 12%);
  --body-color-light: hsl(238, 60%, 20%);
    
  /* =============== Font And Typography =============== */
  /* .5rem = 8px | 1rem = 16px */
  --body-font: "Poppins", sans-serif;
  --second-font: "Audiowide", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* =============== Font weight =============== */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* =============== z index =============== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

 /* =============== Responsive Typography =============== */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}
    
/* =============== BASE =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behaviour: smooth;
}

body,
input,
button {
  font-family: var(--body font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

h1,h2,h3,h4 {
  color: var(--white color);
}

u1 {
  list-style: none;
}

a {
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
  
/* =============== REUSABLE CSS CLASSES =============== */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  margin-bottom: 2rem;
  text-align: center;
}

.section__title span{
  display: block;
  background: var(--third-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  overflow: hidden;
}

/* =============== HEADER & NAV =============== */


/* Show menu */


/* Add Blur Header */


/* Active Link */


/* =============== HOME =============== */


/* =============== BUTTON =============== */


/* =============== TRAVEL =============== */


/* Swiper class */


/* Swiper animation */


/* =============== EXPLORE =============== */
explore__container{
    row-gap: 3rem;
}
.explore__data{
    position: relative;
}
.explore__planet{
    width: 50px;
    position: absolute;
    top: 3rem;
    right: 0;
}
.explore__description{
    text-align: center;
    margin-bottom: 2rem
}
.explore__info{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}
.explore__info-title{
    font-size: var(--normal-font-size);

}
.explore__info-number{
    font-size: var(--h1-font-size);
    font-family:var(--second-font);
    background:(--second-gradient);
    background clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.explore__info-number span{
font-size: var(--small-font-size);
}
.explore__img{
    width: 320px;
    justify-self: center;
}
/*====HISTORY===========*/
.history{
    position relative;
}
.history__containerr{
    position: relative;
    row-gap:2.5rem;
    grid-template-columns: 265px;
    justify-content: center;

}
.history__card{
    text-align: center;
}
.history__img{
    width: 150px;
    margin: 0 auto .75rem;
}
.history__description span{
    color: var(--first-color);
    font-weight:var(--font-semi-bold);
}
.history__planet-1,
.history__planet-2{
position:absolute;
}
.history__planet-1{
    width: 250px;
    top: 10rem;
    left: -8rem;
}
.history__planet-2{
    width: 150px;
    right: -5rem;
    bottom: 6rem;
}
/*=============CONTACT=========================*/
.contact__container{
    padding-bottom:2rem;
}
.contact__form{
    display: grid;
    row-gap: 1rem;
}
.contact__input{
    width: 100%;
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    padding: 1rem;
    color: var(--white-color);
}
.contact__form butto{
    cursor: pointer;
}
/*======================FOOTER==================*/
.footer{
    overflow: hidden;
}
.footer__container{
    position: relative;
    row-gap:4.5rem;
    padding-block: 2rem;
}
.footer__planet-1,
.footer__planet-2{
    position: absolute;
}
.footer__planet-1{
    width: 200px;
    left: -6.5rem;
    bottom: -4.5rem;
}
.footer__planet-2{
    width: 50px;
    top: 5.5rem;
    right: 0;
}
.footer__content{
    row-gap: 2.5rem;
}
.footer__links{
    display: flex;
    column-gap: 2rem;
    justify-content:center;
}
.footer__link{
    color:var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color   .4s;

}
.footer__link:hover{
    color: var(--first-color);

}
.footer__social{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}
.footer__social-link{
    display:inline-flex;
    background: var(--third-gradient);
    color:var(--white-color);
    font-size: 1.5rem;
    padding: .25rem;
    transition:box-shadow  .4s;

}
.footer__social-link: hover{
    box-shadow: 0 8px 32px hsla(25, 96%, 55%, .6);
}
.footer__copy{
    text-align: center;
    z-index: var(--z-tooltip);
    color: var(--white-color);
    font-size: var(--small-font-size);
}
/*===============SCROLL BAR===================*/
::-website-scrollbar{
    width: .6rem;
    background-color: hsl(238, 60%, 20%);
}

::-website-scrollbar-thumb{
 
    background-color: hsl(238, 50%, 30%);
}
::-website-scrollbar-thumb:hover{
 
    background-color: hsl(238, 40%, 40%);
}

/* Show Scroll Up */


/* =============== BREAKPOINT =============== */
/* For small devices */


/* For medium devices */


/* For large devices */








